@{
    ViewData["Title"] = "Edit Game";
}

<link rel="stylesheet" runat="server" media="screen" href="~/css/AddEditGames.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

@model ManageGames.ViewModels.EditGameModel;

<div>
    <form asp-controller="Home" asp-action="SaveEditedGame" method="post">
        <fieldset>
            <legend>@ViewData["Title"]</legend>
            <div>
                <div>
                    <label>Gamename:</label>
                    <input type=text name="gameName" value="@(Model.Game.GameName)" required/>
                    <input type="hidden" name="id" value="@Model.Game.GameId"/>
                </div>

                <div>
                    <label>Console:</label>
                    <select name="consoles">
                        @for(int i=0;i<Model.ConsoleList.Count;i++)
                        {
                            <option selected=@(Model.ConsoleList[i].ConsoleId.Equals(Model.Game.Console_from_Game)?true:false) 
                            value="@Model.ConsoleList[i].ConsoleId">@Model.ConsoleList[i].Console_Name</option>        
                        }
                    </select>
                </div>
        
                <div>
                    <label>Wishlist:</label>
                    <input type="checkbox" name="wishlist" checked=@Model.Game.IsOnWishList value="true" />
                </div>

                <div>
                    <label>Gamecount:</label>
                    <input type="number" min=1 value=@Model.Game.Anzah_von_Game name="game_amount" required/>
                </div>

                <div class="editResetDiv">
                    <button onclick="event.preventDefault(); location.reload()">Reset</button>
                    <button type="submit">Save</button>
                </div>

            </div>

        </fieldset>
    </form>
    
</div>