@{
    ViewData["Title"] = "Games";
}
@model ManageGames.ViewModels.IndexModel;
<link rel="stylesheet" runat="server" media="screen" href="~/css/Index_Stylesheet.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<script src="~/js/index.js" language="javascript" type="text/javascript"></script>
<style onload="safeCheckbox()"></style>

<div class="">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <form asp-controller="Home" asp-action="Index">
    <p>
        Title: <input type="text" id="searchbarid" name="searchString" />
        <button type="submit">Filter</button>
    </p>

    </form>




    <table id="GameTable">
        <tr>
            <th>Id</th>
            <th>User</th>
            <th>Console</th>
            <th>Gametitle</th>
            <th>Games Count</th>
            <th>Edit/Delete</th>
        </tr>
        @for (int i = 0; i < @Model.GamesList.Count ; i++)
        {
            <tr>
                <td>@Model.GamesList[i].GameId</td>
                <td>@Model.GamesList[i].User.Username</td>
                @*<td>@Model.ConsoleList.Where(m => m.Index_Console.Equals(@Model.GamesList[i].Console_from_Game-1)).First() </td>*@
                <td>@Model.ConsoleList.Where(x=>x.ConsoleId.Equals(Model.GamesList[i].Console_from_Game)).First().Console_Name</td>
                <td>@Model.GamesList[i].GameName</td>
                <td>@Model.GamesList[i].Anzah_von_Game</td>
                <td>
                    <div style="display: flex; justify-content: space-between;">
                        <form asp-controller="Home" asp-action="EditGame" method="post">
                                <input type="hidden" name="id" value=@Model.GamesList[i].GameId />
                                <button type="submit">Edit</button>
                        </form>
                        <form asp-controller="Home" asp-action="DeleteGame" method="post">
                                <input type="hidden" name="id" value=@Model.GamesList[i].GameId />
                                <button type="submit">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

<style>

</style>